table {
    font: 22px/28px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 640px;
}

caption { 
    font: 22px/28px Verdana, Arial, Helvetica, sans-serif;
    display: table-caption;
    text-align: center;
    font-weight: bold;
}

th {
    padding: 0 1em;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr.yellow td {
    border-top: 1px solid #FB7A31;
    border-bottom: 1px solid #FB7A31;
    background: #FFC;
}

td {
    border-bottom: 1px solid #CCC;
    padding: 0 1em;
}

td.width {
    width: 380px;
}

td.adjacent {
    border-left: 1px solid #CCC;
    text-align: center;
}
